// bootstrap navbar overrides

.navbar-nav>li, .navbar-nav {
    float: left!important;
}

.navbar-right {
    float: right!important;
}

.fa-linkedin {color: #4875B4;}
.fa-twitter {color: #33CCFF;}
.fa-skype {color: #12A5F4;}
.fa-envelope {color: gray;}
.fa-github {color: black;}
.fa-rss-square {color: orange;}
.fa-dollar {color: green;}

.twitter-tweet {margin-left: auto !important; margin-right: auto !important;}
